.loginContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.loginContainer h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
    font-weight: 900;
}
.loginContainer h1 {
    text-align: center;
    margin-bottom: 3rem;
    color: #009A83;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputGroup {
    margin-bottom: 15px;
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #555;
    text-align: left;
    padding-left: 1rem;
    font-size: 1.3rem;
}

.inputGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    outline: none; /* 기본 outline 제거 */
}
.inputGroup input:focus {
    border: 1px solid #009A83; /* 색상 코드 수정 및 !important 제거 */
    box-shadow: 0 0 0 2px rgba(0, 154, 131, 0.2); /* 선택 사항: 포커스 시 그림자 효과 추가 */
}

.checkboxGroup {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.checkboxGroup input[type="checkbox"] {
    margin-right: 10px;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    accent-color: #009A83; /* 체크박스 색상 변경 (최신 브라우저 지원) */
}

.checkboxGroup label {
    font-size: 1rem;
    color: #555;
    cursor: pointer;
}

.submitButton {
    padding: 12px;
    background-color: #009A83;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin:1rem 0;
}

.submitButton:hover {
    background-color: #027c6b;
}

.registerLink {
    margin-top: 20px;
    text-align: center;
    font-size: 1.3rem;
}

.registerLink a {
    color: #bababa;
    text-decoration: none;
    font-size: 1.3rem;
}

.registerLink a:hover {
    text-decoration: underline;
}

